@model List<Dictionary<string, string>>

@{
    ViewBag.Title = "Contract Publish";
}

<div>
    <h3 style="margin-bottom: 20px;">Contract Template "@ViewBag.TemplateName"</h3>
    <div class="contract_create_half_container">
        <div class="form-group">
            <div class="contract_field">
                <h3 class="contract_field_label">Name</h3>
                <input class="form-control" />
            </div>
            <div>
                <h3 style="margin-top: 15px;">Initialization Data</h3>
                @foreach (var field in Model)
                {
                    <div class="contract_field">
                        <h5 class="contract_field_label">@field["name"]</h5>
                        <input class="form-control" input_type="@field["type"]" />
                    </div>
                }
            </div>
            <div>

            </div>
        </div>
        <div class="form-group">
            <button id="createButton" class="btn btn-success btn-block" style="margin-top: 40px; width: 30%">Publish</button>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(() => {
            $('#createButton').click(function () {
                data = [{name: "templateId", value: "@ViewBag.TemplateId"}];
                $('.contract_field').each(function (index, field) {
                    var name = $(field).find('.contract_field_label').html();
                    var value = $(field).find('input').val();
                    var type = $(field).find('input').attr('input_type');
                    data.push({ name: name, value: value, type: type });
                });
                $.ajax(
                    {
                        async: true,
                        url: `/Contracts/Create`,
                        method: "POST",
                        crossDomain: true,
                        processData: false,
                        headers: {
                            "content-type": "application/json"
                        },
                        data: JSON.stringify(data),
                        success: function (data, textStatus) {
                            window.location = data.redirectUrl;
                        }
                    });
            });
        });
    </script>
}