<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>HTTP Error 404 - Not Found</title>
    @Styles.Render("~/Content/bootstrap.css")
</head>
<body>
<div class="m-5 align-content-center w-50">
    <h2>Error 404 - HTTP Not Found</h2>
    <h4>Resource not found!</h4>
    <hr/>
    @Html.ActionLink("Go Home", "Index", "Home", null, new {@class = "btn btn-primary"})
</div>
</body>
</html>